.weather-component {
  max-width: 750px;
  font-family: sans-serif;
}

.refresh-button {
  float: right;
}

.weather-component-grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "wo wd" "wwv wwv";
}

.weather-overview {
  grid-area: wo;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10%;
  border-right: 1px solid #9c9c9c;
}

@media only screen and (max-width: 600px) {
  .weather-component-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "wo" "wd" "wwv";
  }
  .weather-overview {
    border-bottom: 1px solid #9c9c9c;
    border-right: none;
  }
}

.weather-details {
  grid-area: wd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10%;
}

.weather-week-view {
  grid-area: wwv;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-top: 1px solid #9c9c9c;
}

.weather-week-view > div {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 10% 10% 10%;
  box-sizing: border-box;
}

.day-name {
  border-bottom: 1px solid #9c9c9c;
  font-weight: bold;
  padding: 10%;
  margin-bottom: 10%;
}

.darksky-disclaimer {
  float: right;
}

.current-weather-highlight {
  font-size: 4rem;
}