<div>
  <h3>Dubai, Al Khamila Street, United Arab Emirates</h3>
  <div class="weather-component-grid-wrapper">
    <div class="weather-overview">
      <div>Sunny</div>
      <div>Now: 30</div>
      <div>High: 35</div>
      <div>Low: 17</div>
    </div>
    <div class="weather-details">
      <div>
        <span>Rain: </span>
        <span>0%</span>
      </div>
      <div>
        <span>Wind: </span>
        <span>11 kph</span>
      </div>
      <div>
        <span>Humidity: </span>
        <span>43%</span>
      </div>
    </div>
    <div class="weather-week-view">
      <div>
        <div>Sat</div>
        <div>Sunny with Clouds</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Sun</div>
        <div>Sunny</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Mon</div>
        <div>Sunny with Clouds</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Tue</div>
        <div>Sunny with Clouds</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Wed</div>
        <div>Sunny</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Thu</div>
        <div>Sunny with Clouds</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
      <div>
        <div>Fri</div>
        <div>Sunny</div>
        <div>High: 31</div>
        <div>Low: 18</div>
      </div>
    </div>
  </div>
</div>