<div class="weather-component">
  <button class="refresh-button" (click)="refreshWeatherReport()" [disabled]="loading">Refresh</button>
  <h3>1 Cabot Square, Canary Wharf, London</h3>
  <div *ngIf="loading">Loading data...</div>
  <div *ngIf="error">Error: {{error}}</div>
  <div class="weather-component-grid-wrapper" *ngIf="!loading && !error">
    <div class="weather-overview">
      <div>{{weatherReport.current.icon}}</div>
      <div>Now: {{weatherReport.current.temperature | number:'1.0-0'}}°</div>
      <div>High: {{weatherReport.current.temperatureHigh | number:'1.0-0'}}°</div>
      <div>Low: {{weatherReport.current.temperatureLow | number:'1.0-0'}}°</div>
    </div>
    <div class="weather-details">
      <div>
        <span>Rain: </span>
        <span>{{weatherReport.current.precipProbability * 100}}%</span>
      </div>
      <div>
        <span>Wind: </span>
        <span>{{weatherReport.current.windSpeed | number:'1.0-0'}}kph</span>
      </div>
      <div>
        <span>Humidity: </span>
        <span>{{weatherReport.current.humidity * 100}}%</span>
      </div>
    </div>
    <div class="weather-week-view">
      <div *ngFor="let day of weatherReport.week">
        <div class="day-name">{{day.day}}</div>
        <div>{{day.icon}}</div>
        <div>High: {{day.temperatureHigh | number:'1.0-0'}}°</div>
        <div>Low: {{day.temperatureLow | number:'1.0-0'}}°</div>
      </div>
    </div>
  </div>
  <div class="darksky-disclaimer"><a href="https://darksky.net/poweredby/">Powered by DarkSky</a></div>
</div>