<div class="weather-component">
  <button class="refresh-button" (click)="refreshWeatherReport()" [disabled]="loading">Refresh</button>
  <h3>1 Cabot Square, Canary Wharf, London</h3>
  <div *ngIf="loading">Loading data...</div>
  <div *ngIf="error">Error: {{error}}</div>
  <div class="weather-component-grid-wrapper" *ngIf="!loading && !error">
    <div class="weather-overview">
      <div>
        <i class="current-weather-highlight wi" [ngClass]="weatherReport.current.iconClass"></i>
      </div>
      <div class="current-weather-highlight">{{weatherReport.current.temperature | number:'1.0-0'}}°</div>
      <div><i class="wi wi-thermometer"></i> {{weatherReport.current.temperatureHigh | number:'1.0-0'}}°</div>
      <div><i class="wi wi-thermometer-exterior"></i> {{weatherReport.current.temperatureLow | number:'1.0-0'}}°</div>
    </div>
    <div class="weather-details">
      <div>
        <span><i class="wi wi-raindrops"></i></span>
        <span>{{weatherReport.current.precipProbability * 100 | number:'1.0-0'}}%</span>
      </div>
      <div>
        <span><i class="wi wi-direction-right"></i></span>
        <span>{{weatherReport.current.windSpeed | number:'1.0-0'}}kph</span>
      </div>
      <div>
        <span><i class="wi wi-humidity"></i></span>
        <span>{{weatherReport.current.humidity * 100 | number:'1.0-0'}}%</span>
      </div>
    </div>
    <div class="weather-week-view">
      <div *ngFor="let day of weatherReport.week">
        <div class="day-name">{{day.day}}</div>
        <div><i class="wi" [ngClass]="day.iconClass"></i></div>
        <div>High: {{day.temperatureHigh | number:'1.0-0'}}°</div>
        <div>Low: {{day.temperatureLow | number:'1.0-0'}}°</div>
      </div>
    </div>
  </div>
  <div class="darksky-disclaimer"><a href="https://darksky.net/poweredby/">Powered by DarkSky</a></div>
</div>